@import url('https://fonts.googleapis.com/css?family=Noto+Serif+TC:500&display=swap');

html, body{
  margin: 0;
  padding: 0;
  width: auto;
  font-family: 'Noto Serif TC', serif;
  background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20190221/ourmid/pngtree-ai-artificial-intelligent-blue-image_38901.jpg');

}

.bg-cover{
  background-size: cover;
  background-position: center center;
}

.bg-attachment{
  background-attachment: fixed;
}

/*---------- Navbar ----------*/
nav{
  background: rgba(255,255,255,0.8);
  transition: 0.5s;
}

#logo{
  color:#FF6666;
  font:40px bold normal BrushScriptStdMedium;
  text-shadow:0px 0px 10px #663333;
  transition: 0.5s;
}
#logo:hover{
  color:#000000;
  text-shadow:0px 0px 5px #000000;
}

#menu{
  justify-content: center;
}

#menu ul{
  display: flex;
}

#menu a{
  line-height: 40px;
  color: #000000;
  padding: 5px 20px;
  text-decoration: none;
  transition: 0.5s;
}

#menu a.active, #menu a:hover{
  color: #fff;
  background-color: #2196f3;
  border-radius: 25px;
}

/*---------- Image Slider ----------*/

.carousel-inner img{
  width: 100%;
  height: 600px;
  opacity: 0.8;
}

.carousel-caption .row{
  font-size: 36px;
  justify-content: center;
}

#textOnImg{
  background-color: rgba(0,0,0,0.2);
  justify-content: center;
}

/*---------- Features ----------*/
#features{
  padding: 0px;
  display: flex;
  text-align: center;
  align-items: center;
  background: #031321;
  background: rgba(0,0,0,.7);
}

#leftFeature ,#centerFeature ,#rightFeature {
  position: relative;
  display: inline-block;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  transition: 0.2s;
}
          /*----- leftFeature -----*/
#leftFeature {color: #6EFF6E;}
#leftFeature:hover{
  color: #031321;
  background: #6EFF6E;
  box-shadow: 0 0 10px #6EFF6E, 0 0 40px #6EFF6E, 0 0 80px #6EFF6E;
  transition-delay: 1s;
}
#leftFeature span{
  position: absolute;
  display: block;
}
#leftFeature span:nth-child(1){
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,#6EFF6E);
}
#leftFeature:hover span:nth-child(1){
  left: 100%;
  transition: 1s;
}

#leftFeature span:nth-child(3){
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent,#6EFF6E);
}
#leftFeature:hover span:nth-child(3){
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

#leftFeature span:nth-child(2){
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#6EFF6E);
}
#leftFeature:hover span:nth-child(2){
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

#leftFeature span:nth-child(4){
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,#6EFF6E);
}
#leftFeature:hover span:nth-child(4){
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}

          /*----- CenterFeature -----*/
#centerFeature {color: #6EFFFF;}
#centerFeature:hover{
  color: #031321;
  background: #6EFFFF;
  box-shadow: 0 0 10px #6EFFFF, 0 0 40px #6EFFFF, 0 0 80px #6EFFFF;
  transition-delay: 1s;
}

#centerFeature span{
  position: absolute;
  display: block;
}
#centerFeature span:nth-child(1){
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,#6EFFFF);
}
#centerFeature:hover span:nth-child(1){
  left: 100%;
  transition: 1s;
}

#centerFeature span:nth-child(3){
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent,#6EFFFF);
}
#centerFeature:hover span:nth-child(3){
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

#centerFeature span:nth-child(2){
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#6EFFFF);
}
#centerFeature:hover span:nth-child(2){
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

#centerFeature span:nth-child(4){
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,#6EFFFF);
}
#centerFeature:hover span:nth-child(4){
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}

          /*----- RightFeature -----*/
#rightFeature {color: #FFFF6E;}
#rightFeature:hover{
  color: #031321;
  background: #FFFF6E;
  box-shadow: 0 0 10px #FFFF6E, 0 0 40px #FFFF6E, 0 0 80px #FFFF6E;
  transition-delay: 1s;
}

#rightFeature span{
  position: absolute;
  display: block;
}
#rightFeature span:nth-child(1){
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,#FFFF6E);
}
#rightFeature:hover span:nth-child(1){
  left: 100%;
  transition: 1s;
}

#rightFeature span:nth-child(3){
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent,#FFFF6E);
}
#rightFeature:hover span:nth-child(3){
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

#rightFeature span:nth-child(2){
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#FFFF6E);
}
#rightFeature:hover span:nth-child(2){
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

#rightFeature span:nth-child(4){
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,#FFFF6E);
}
#rightFeature:hover span:nth-child(4){
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}

/*---------- Section Images ----------*/


/*---------- Section Images Slide ----------*/
#activeImg .container{
  color: #000000;
  background-color: #E3E3E3;
}

#myCarousel img{
  width: 100%;
  height: auto;
}

.carousel-control-prev{
  width: 50%;
}

.carousel-control-next{
  width: 50%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon{
  background-image: none;
}

/*---------- Question & Answer  ----------*/
.accordin,
.accordin h2,
.card-header
{
  padding: 0;
  text-align:center;
}

#collapseOne h4{
  color: #d5d5d5;
  background-color: #6E6E6E;
}

/*---------- Nav Connect ----------*/
.btn-group-vertical{
  position: relative;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 35%;
  border-radius: 15px;
  background-color: #BABABA;
}

.fa-facebook{
	color: #3b5998;
}
#facebook:hover{
  background-color: #3b5998;
}

.fa-instagram{
	color: #517fa4;
}
#instagram:hover{
	background-color: #517fa4;
}

.fa-youtube{
  color: #bb0000;
}
#youtube:hover{
	background-color: #bb0000;
}

.fa-line{
	color: #00c300;
}
#line:hover{
  background-color: #00c300;
}

.fa-facebook:hover,
.fa-instagram:hover,
.fa-youtube:hover,
.fa-line:hover{
	color: #d5d5d5;
}

/*---------- Footer ----------*/
footer{
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/*---------- Media ----------*/
@media (min-width: 768px){
          /*--- navbar ---*/
  nav.black{
    background: rgba(0,0,0,0.6);
    height: 60px;
    padding: 10px 50px;
  }

  #menu.black a{
    color: #fff;
    line-height: 40px;
  }

        /*--- Question & Answer  ---*/
  #QA1 h3,
  #QA2 h3,
  #QA3 h3{
    font-size: 24px;
  }
  .card-header a{
    font-size: 18px;
  }

        /*--- Nav Connect ---*/
  .btn-group-vertical a{
    font-size: 1.5rem;
  }

        /*--- Footer ---*/
  footer h5{
    font-size: 24px;
    display: inline;
  }
  footer p{
    font-size:18px;
    display: inline;
  }

}

@media (max-width: 767.98px){
            /*--- navbar ---*/
  nav.black{
    background: rgba(255,255,255,0.8);
    height: 60px;
    padding: 10px 50px;
  }

  #menu{
    background: rgba(255,255,255,0.8);
  }

  #menu.black a{
    color: #000000;
    line-height: 40px;
  }

          /*--- Question & Answer  ---*/
  #QA1 h3,
  #QA2 h3,
  #QA3 h3{
    font-size: 16px;
  }
  .card-header a{
    font-size: 15px;
  }
  #collapseOne h4{
    font-size: 14px;
  }
  .card-body{
    font-size: 12px;
  }

          /*--- Connect ---*/
  .btn-group-vertical a{
    font-size: 0.5rem;
  }

        /*--- Footer ---*/
  footer h5{
    font-size: 14px;
    display: inline;
  }
  footer p{
    font-size:12px;
    display: inline;
    }
}
